{% extends "admin/layout.html" %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><i class="nav-icon fa fa-search-dollar"></i> Status Keuangan </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Status Keuangan</a></li>
          <li class="breadcrumb-item active">Data Status Keuangan</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-navy card-outline">
          <div class="card-header">
            <h3 class="card-title">SIMULASI PROYEKSI KINERJA PHLN PER TRIWULAN (BERDASARKAN PV)</h3>
            <h4 class="card-title">Improvement of Solid Waste Management to Support Regional Area and Metropolitan Cities (ISWMP)</h4>

            <div class="card-tools">
              <div class="input-group input-group-sm">
              </div>
            </div>
          </div>
          <div class="card-body">
            <input style="width: 85px;"  id="param" value="User" hidden>
            <div class="table-responsive">
            <table class="table table-bordered table-hover" id="listlelang">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2" style="background: #548235;color: #fff;">Lender Executing Agency Allocated (USD)</th>
                        <th style="background: #548235;color: #fff;">World Bank-DJCK; 100.000.000; 03/04/2020 - 30/11/2025</th>
                    </tr>
                    <tr>
                        <th style="background: #548235;color: #fff;">Q1-20</th>
                        <th style="background: #548235;color: #fff;">Q2-20</th>
                        <th style="background: #548235;color: #fff;">Q3-20</th>
                        <th style="background: #548235;color: #fff;">Q4-20</th>
                        <th style="background: #548235;color: #fff;">Q1-21</th>
                        <th style="background: #548235;color: #fff;">Q2-21</th>
                        <th style="background: #548235;color: #fff;">Q3-21</th>
                        <th style="background: #548235;color: #fff;">Q4-21</th>
                        <th style="background: #548235;color: #fff;">Q1-22</th>
                        <th style="background: #548235;color: #fff;">Q2-22</th>
                        <th style="background: #548235;color: #fff;">Q3-22</th>
                        <th style="background: #548235;color: #fff;">Q4-22</th>
                        <th style="background: #548235;color: #fff;">Q1-23</th>
                        <th style="background: #548235;color: #fff;">Q2-23</th>
                        <th style="background: #548235;color: #fff;">Q3-23</th>
                        <th style="background: #548235;color: #fff;">Q4-23</th>
                        <th style="background: #548235;color: #fff;">Q1-24</th>
                        <th style="background: #548235;color: #fff;">Q2-24</th>
                        <th style="background: #548235;color: #fff;">Q3-24</th>
                        <th style="background: #548235;color: #fff;">Q4-24</th>
                        <th style="background: #548235;color: #fff;">Q1-25</th>
                        <th style="background: #548235;color: #fff;">Q2-25</th>
                        <th style="background: #548235;color: #fff;">Q3-25</th>
                    </tr>
                    <tr>
 
                        <th rowspan="5" style="background: #002060;color: #fff;vertical-align: middle;">Rencana (Plan OWP #3)</th>
                        <th style="background: #002060;color: #fff;">Disbursement Plan* 1</th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-1" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','1')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-2" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','2')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-3" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','3')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-4" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','4')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-5" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','5')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-6" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','6')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-7" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','7')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-8" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','8')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-9" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','9')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-10" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','10')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-11" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','11')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-12" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','12')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-13" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','13')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-14" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','14')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-15" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','15')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-16" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','16')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-17" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','17')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-18" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','18')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-19" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','19')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-20" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','20')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-21" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','21')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-22" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','22')"></th>
                        <th style="background: #002060;color: #fff;"><input style="width: 85px;"  id="dp-23" name="dp-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dp','23')"></th>
                    </tr>
                    <tr>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">PV Projection (PV) 2</th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-1" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','1')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-2" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','2')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-3" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','3')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-4" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','4')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-5" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','5')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-6" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','6')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-7" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','7')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-8" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','8')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-9" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','9')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-10" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','10')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-11" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','11')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-12" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','12')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-13" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','13')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-14" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','14')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-15" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','15')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-16" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','16')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-17" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','17')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-18" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','18')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-19" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','19')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-20" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','20')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-21" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','21')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-22" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','22')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="pv-23" name="pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'pv','23')"></th>
                    </tr>
                    <tr>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">Disb Ratio (DR) rencana</th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-1" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','1')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-2" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','2')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-3" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','3')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-4" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','4')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-5" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','5')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-6" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','6')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-7" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','7')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-8" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','8')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-9" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','9')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-10" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','10')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-11" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','11')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-12" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','12')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-13" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','13')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-14" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','14')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-15" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','15')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-16" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','16')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-17" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','17')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-18" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','18')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-19" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','19')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-20" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','20')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-21" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','21')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-22" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','22')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="dr-23" name="dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'dr','23')"></th>
                    </tr>
                    <tr>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">Elapse Time Ratio (ER)</th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-1" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','1')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-2" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','2')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-3" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','3')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-4" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','4')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-5" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','5')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-6" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','6')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-7" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','7')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-8" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','8')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-9" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','9')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-10" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','10')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-11" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','11')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-12" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','12')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-13" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','13')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-14" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','14')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-15" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','15')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-16" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','16')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-17" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','17')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-18" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','18')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-19" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','19')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-20" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','20')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-21" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','21')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-22" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','22')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="er-23" name="er-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'er','23')"></th>
                    </tr>
                    <tr>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">Status Disb Plan</th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-1" onchange="updatestat(this,'stat','1')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-2" onchange="updatestat(this,'stat','2')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-3" onchange="updatestat(this,'stat','3')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-4" onchange="updatestat(this,'stat','4')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-5" onchange="updatestat(this,'stat','5')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-6" onchange="updatestat(this,'stat','6')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-7" onchange="updatestat(this,'stat','7')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-8" onchange="updatestat(this,'stat','8')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-9" onchange="updatestat(this,'stat','9')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="stat-10" onchange="updatestat(this,'stat','10')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-11" onchange="updatestat(this,'stat','11')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-12" onchange="updatestat(this,'stat','12')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-13" onchange="updatestat(this,'stat','13')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-14" onchange="updatestat(this,'stat','14')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-15" onchange="updatestat(this,'stat','15')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-16" onchange="updatestat(this,'stat','16')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-17" onchange="updatestat(this,'stat','17')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-18" onchange="updatestat(this,'stat','18')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-19" onchange="updatestat(this,'stat','19')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-20" onchange="updatestat(this,'stat','20')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-21" onchange="updatestat(this,'stat','21')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-22" onchange="updatestat(this,'stat','22')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                        <select class="form-control" style="width: 150px;" id="stat-23" onchange="updatestat(this,'stat','23')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="5" style="background: #EDEDED;vertical-align: middle;">Realisasi & Update Plan OWP</th>
                    </tr>
                    <tr>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;">Actual Disbursement 1</th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-1" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','1')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-2" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','2')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-3" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','3')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-4" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','4')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-5" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','5')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-6" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','6')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-7" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','7')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-8" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','8')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-9" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','9')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-10" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','10')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-11" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','11')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-12" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','12')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-13" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','13')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-14" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','14')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-15" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','15')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-16" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','16')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-17" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','17')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-18" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','18')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-19" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','19')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-20" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','20')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-21" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','21')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-22" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','22')"></th>
                        <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><input style="width: 85px;"  id="act-dis-23" name="act-dis-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dis','23')"></th>
                    </tr>
                    <tr>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">Actual DR</th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-1" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','1')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-2" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','2')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-3" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','3')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-4" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','4')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-5" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','5')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-6" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','6')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-7" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','7')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-8" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','8')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-9" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','9')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-10" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','10')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-11" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','11')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-12" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','12')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-13" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','13')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-14" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','14')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-15" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','15')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-16" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','16')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-17" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','17')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-18" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','18')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-19" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','19')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-20" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','20')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-21" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','21')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-22" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','22')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-dr-23" name="act-dr-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-dr','23')"></th>
                    </tr>
                    <tr>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">Actual PV 2</th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-1" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','1')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-2" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','2')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-3" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','3')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-4" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','4')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-5" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','5')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-6" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','6')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-7" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','7')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-8" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','8')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-9" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','9')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-10" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','10')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-11" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','11')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-12" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','12')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-13" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','13')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-14" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','14')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-15" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','15')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-16" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','16')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-17" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','17')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-18" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','18')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-19" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','19')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-20" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','20')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-21" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','21')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-22" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','22')"></th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;"><input style="width: 85px;"  id="act-pv-23" name="act-pv-input" type="text" class="form-control" placeholder="" onchange="updatestat(this,'act-pv','23')"></th>
                    </tr>
                    <tr>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">Actual Status</th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-1" onchange="updatestat(this,'act-stat','1')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-2" onchange="updatestat(this,'act-stat','2')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-3" onchange="updatestat(this,'act-stat','3')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-4" onchange="updatestat(this,'act-stat','4')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-5" onchange="updatestat(this,'act-stat','5')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-6" onchange="updatestat(this,'act-stat','6')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-7" onchange="updatestat(this,'act-stat','7')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-8" onchange="updatestat(this,'act-stat','8')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-9" onchange="updatestat(this,'act-stat','9')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-10" onchange="updatestat(this,'act-stat','10')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-11" onchange="updatestat(this,'act-stat','11')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-12" onchange="updatestat(this,'act-stat','12')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-13" onchange="updatestat(this,'act-stat','13')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-14" onchange="updatestat(this,'act-stat','14')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-15" onchange="updatestat(this,'act-stat','15')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-16" onchange="updatestat(this,'act-stat','16')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-17" onchange="updatestat(this,'act-stat','17')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-18" onchange="updatestat(this,'act-stat','18')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-19" onchange="updatestat(this,'act-stat','19')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-20" onchange="updatestat(this,'act-stat','20')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-21" onchange="updatestat(this,'act-stat','21')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-22" onchange="updatestat(this,'act-stat','22')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</option>
<option value="3">A Head On Schedule</option>
                          </select>
                        </th>
                        <th style="background: #D9E1F2;border: 2px solid #fff;">
                          <select class="form-control" style="width: 150px;" id="act-stat-23" onchange="updatestat(this,'act-stat','23')">
                            <option value="0"></option>
                            <option value="1">Behind Schedule</option>
                            <option value="2">At Risk</span></option>
                          </select>
                        </th>
                    </tr>
                </thead>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-lg card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input style="width: 85px;"  id="id" hidden>
        <input style="width: 85px;"  id="idfile" hidden>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Judul Paket Kegiatan</label>
                <input style="width: 85px;"  id="judul_paket" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Pagu/ HPS</label>
                <input style="width: 85px;"  id="pagu_hps" name="berita-input" type="number" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>HPS</label>
                <input style="width: 85px;"  id="hps" name="berita-input" type="number" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Pelaksana</label>
                <input style="width: 85px;"  id="pel_paket" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Target Lelang</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="target_lelang">
                  <option value="0">Pilih...</option>
                    <option value="1">Januari 2023</option>
                    <option value="2">Februari 2023</option>
                    <option value="3">Maret 2023</option>
                    <option value="4">April 2023</option>
                    <option value="5">Mei 2023</option>
                    <option value="6">Juni 2023</option>
                    <option value="7">Juli 2023</option>
                    <option value="8">Agustus 2023</option>
                    <option value="9">September 2023</option>
                    <option value="10">Oktober 2023</option>
                    <option value="11">November 2023</option>
                    <option value="12">Desember 2023</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Metode Lelang</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="metode_lelang">
                  <option value="-">Pilih...</option>
                    <option value="RFQ">RFQ</option>
                    <option value="CQS">CQS</option>
                    <option value="RFB">RFB</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Keterangan</label>
                <input style="width: 85px;"  id="keterangan" name="lelang-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Tanggal Pengumuman Lelang</label>
                <div class="input-group date" id="reservationdate1" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate1" fdprocessedid="amjcx" id="tanggal_mulai">
                  <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Penandatanganan Kontrak</label>
                <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate2" fdprocessedid="amjcx" id="tanggal_akhir">
                  <div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="form-group">
                <label>Status Lelang</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="status">
                  <option value="0">Pilih...</option>
                    <option value="1">Belum Tayang</option>
                    <option value="2">Sudah Tayang</option>
                    <option value="3">Selesai Lelang</option>
                </select>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Link LPSE</label>
                <input style="width: 85px;"  id="link" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Tahun</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="tahun_lelang">
                  <option value="0">Pilih...</option>
                  {% for key in 2023..2025 %}
                    <option value="{{key}}">{{key}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
              <div class="col-md-12">
                <div class="card card-light card-outline">
                  <div class="card-header">
                    <label class="">Upload Gambar</label>
                    <div class="card-tools">
                      
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row" id="gambar-container">
  
                      <div class="col-md-4">
                        <div class="card card-light card-outline">
                          <div class="card-tools">
                            <a href="#" class="btn btn-tool">
                              <i class="fas fa-timess"></i>
                            </a>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                              <label></label>
                              <div class="text-center">
                                  <img id="blah_1" name="images" class="img-fluid" src="assets/img/no-image.png" alt="picture">
                                  <canvas hidden id="myCanvas_1" />
                              </div>
                              <div class="custom-file" style="margin-bottom: 10px;margin-top: 10px;">
                                <input type="file" class="custom-file-input" id="image_1" name="image_input" style="display: none;">
                                <label class="custom-file-label" for="image_1">Pilih foto</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button id="save-berita" type="button" class="btn btn-success" ><i class="fas fa-check"> </i> Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

</section>

<!-- /.content -->


{% endblock %}
{% block js %}
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}
