{% extends "admin/layout.html" %} {% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
		<div class="container-fluid">
		  <div class="row mb-2">
			<div class="col-sm-6">
			  <h1 class="m-0"><i class="nav-icon fas fa-table"></i> Dashboard Monitoring</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
			  <ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item">Dashboard</li>
				<li class="breadcrumb-item">Dashboard Monitoring</li>
				<li class="breadcrumb-item active">Status Penilaian</li>
			  </ol>
			</div><!-- /.col -->
		  </div><!-- /.row -->
		</div><!-- /.container-fluid -->
	  </div>
	  <!-- /.content-header -->
  
	  <!-- Main content -->
	  <section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h4><i class="far fa-check-circle"></i> Status Penilaian</h4>
				</div>
				<div class="card-body">
					<div class="row" hidden>
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" placeholder="Masukan Kata Kunci"/>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" placeholder="Masukan Kata Kunci"/>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" placeholder="Masukan Kata Kunci"/>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" placeholder="Masukan Kata Kunci"/>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" placeholder="Masukan Kata Kunci"/>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" placeholder="Masukan Kata Kunci"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-12">
						  <!-- small box -->
						  <div class="small-box bg-danger">
							<div class="inner">
							  <h3 id="panel_1" >0</h3>
			  
							  <p>TAHAP KESIAPAN PERENCANAAN</p>
							</div>
							<div class="icon">
							  <i class="ion ion-laptop"></i>
							</div>
							<a href="#!" onclick="openTable(1)" class="small-box-footer">Detail <i class="fas fa-arrow-circle-right"></i></a>
						  </div>
						</div>
						<!-- ./col -->
						<div class="col-lg-4 col-12">
						  <!-- small box -->
						  <div class="small-box bg-maroon">
							<div class="inner">
							  <h3 id="panel_2">0</h3>
			  
							  <p>TAHAP PELAKSANAAN KONSTRUKSI</p>
							</div>
							<div class="icon">
							  <i class="ion ion-laptop"></i>
							</div>
							<a href="#!" onclick="openTable(2)" class="small-box-footer">Detail <i class="fas fa-arrow-circle-right"></i></a>
						  </div>
						</div>
						<!-- ./col -->
						<div class="col-lg-4 col-12">
						  <!-- small box -->
						  <div class="small-box bg-pink">
							<div class="inner">
							  <h3 id="panel_3">0</h3>
			  
							  <p>TAHAP PASCA KONSTRUKSI</p>
							</div>
							<div class="icon">
							  <i class="ion ion-laptop"></i>
							</div>
							<a href="#!" onclick="openTable(3)" class="small-box-footer">Detail <i class="fas fa-arrow-circle-right"></i></a>
						  </div>
						</div>
					  </div>
					<div class="row">
						<div class="col-sm-12" id="tahap_1" name="tahapan">
							<hr />
							<center><h3 class="text-default"><i class="fas fa-clone"></i> TAHAP KESIAPAN PERENCANAAN</h3></center>
							<table class="table table-bordered table-hover" id="list_1" >
								<thead>
									<tr>
										<th>No</th>
										<th>TPST</th>
										<th>
											Status Usulan Lahan Konstruksi
										</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="col-sm-12" id="tahap_2" name="tahapan" style="display:none">
							<hr />
							<center><h3 class="text-default"><i class="fas fa-clone"></i> TAHAP PELAKSANAAN KONSTRUKSI</h3></center>
							<table
								class="table table-bordered table-hover datatable"
								id="list_2"
							>
								<thead>
									<tr>
										<th>No</th>
										<th>TPST</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="col-sm-12" id="tahap_3" name="tahapan" style="display:none">
							<hr />
							<center><h3 class="text-default"><i class="fas fa-clone"></i> TAHAP PASCA KONSTRUKSI</h3></center>
							<div class="col-sm-6">
								<select id="categoryFilter" class="form-control">
								  <option value="">Show All</option>
								  <option value="Classical">Classical</option>
								  <option value="Hip Hop">Hip Hop</option>
								  <option value="Jazz">Jazz</option>
								</select>
							  </div>
							<table class="table table-bordered table-hover" >
								<thead>
									<tr>
										<th>
											#No
										</th>
										<th>
											Kab/ Kota
										</th>
										<th>
											Nama TPST
										</th>
										<th>
											Info
										</th>
										<th>
											action
										</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					
				</div>
			</div>
		</div><!-- /.container-fluid -->
	  </section>
	  <!-- /.content -->
{% endblock %}
