{% extends "admin/layout.html" %} {% block content %}
<style>
  .custom-file-label::after {
    width: 100%;
  }
</style>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><i class="nav-icon fas fa-comments"></i> Pengaduan </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Pengaduan</a></li>
          <li class="breadcrumb-item active">List Pengaduan</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-navy card-outline">
          <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
              
            </div>
          </div>
          <div class="card-body">
            <input id="param" value="User" hidden>
            <table class="table table-bordered table-hover" id="listlaporan">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Nama
                        </th>
                        <th>
                            Email/ No Telepon
                        </th>
                        <th>
                            Nama Instansi
                        </th>
                        <th>
                            Nama Kota
                        </th>
                        <th>
                            Nama TPST
                        </th>
                        <th>
                           Tanggal Laporan
                        </th>
                        <th>
                            Isi Pengaduan
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
            </table>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-lg card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="id" hidden>
        <input id="idfile" hidden>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nama</label>
                <input id="name" name="pengaduan-input" type="text" class="form-control" placeholder=" ...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Email/ No Telepon</label>
                <input id="email" name="pengaduan-input" type="text" class="form-control" placeholder=" ...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Nama Instansi</label>
                <input id="instansi" name="pengaduan-input" type="text" class="form-control" placeholder=" ...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Nama Kota</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="kota">
                  <option>Pilih Nama Kota *</option>
                  <option value="Kabupaten Bandung">Kabupaten Bandung </option>
                  <option value="Kabupaten Bandung Barat">Kabupaten Bandung Barat</option>
                  <option value="Kabupaten Bekasi">Kabupaten Bekasi</option>
                  <option value="Kabupaten Cianjur">Kabupaten Cianjur</option>
                  <option value="Kabupaten Karawang">Kabupaten Karawang</option>
                  <option value="Kabupaten Purwakarta">Kabupaten Purwakarta</option>
                  <option value="Kota Bandung">Kota Bandung</option>
                  <option value="Kota Cimahi">Kota Cimahi</option>
                  <option value="Kota Denpasar">Kota Denpasar</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Nama TPST</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="tpst">
                  
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Isi Pengaduan</label>
                <textarea class="form-control" id="pengaduan_nya" nname="pengaduan-input">
                  
                </textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Tanggal</label>
                <input id="tanggal_dong" name="pengaduan-input" type="date" class="form-control" >
              </div>
            </div>
          </div>

        <div class="row" hidden>

          <div class="col-md-12">
            <label>Publikasi</label>
            <div class="form-group">
              <input id="stat" type="checkbox" name="pengaduan-input" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-label="Ready" data-off-label="Not Ready">
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button id="save-pengaduan" type="button" class="btn btn-success" ><i class="fas fa-check"> </i> Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- modal detail user -->
<div class="modal fade" id="modal-detail">
  <div class="modal-dialog modal-sm card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card-body box-profile">
            <div class="text-center">
              <img id="detail-foto" class="profile-user-img img-fluid img-circle" src="assets/img/users/default.jpg" alt="User profile picture">
            </div>

            <h3 class="profile-username text-center" id="detail-name">Nina Mcintire</h3>

            <p class="text-muted text-center" id="detail-username">Software Engineer</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Status</b> <a class="float-right" id="detail-status">543</a>
              </li>
              <li class="list-group-item">
                <b>Jenis User</b> <a class="float-right" id="detail-role">13,287</a>
              </li>
            </ul>

            <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
          </div>
          <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-times"> </i> Tutup</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.card -->
<div class="modal fade" id="lihat-pengaduan">
  <div class="modal-dialog modal-sm card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                <label id="ini-pengaduan" >Judul Laporan</label>
            </div>
          </div>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</section>

<!-- /.content -->


{% endblock %}
{% block js %}
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}
