  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-lightblue elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="assets/img/logo/ISWMP-Black-e1625063553563.png" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/users/default.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{name}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" id="dashboard">
            <a href="dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
            
          </li>
          <li class="nav-item" id="dashboard-monitoring">
            <a href="dashboard?monitoring" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Monitoring infrastruktur
              </p>
            </a>
            
          </li>
          <li class="nav-header"><hr/></li>
          <li class="nav-header"><b>INFRASTRUKTUR</b></li>
          <li class="nav-item" id="rencana">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-clone"></i>
              <p>
                Tahap Perencanaan
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" id="kriteria">
                <a href="kriteria" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Readiness Criteria</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" id="pelaksana">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-clone"></i>
              <p>
                Tahap Pelaksanaan
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" id="persiapan">
                <a href="persiapan" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Persiapan Pelaksanaan</p>
                </a>
              </li>
              <li class="nav-item" id="pelaksanaan">
                <a href="pelaksanaan" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pelaksanaan Program</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" id="pasca">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-clone"></i>
              <p style="font-size:100%;">
                Tahap Pasca
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" id="operasi">
                <a href="operasi" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Operasi & Pemeliharaan</p>
                </a>
              </li>
              <li class="nav-item" id="evaluasi">
                <a href="evaluasi" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Monitoring & Evaluasi</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header"><hr/></li>
          <li class="nav-item" id="berita">
            <a href="berita" class="nav-link">
              <i class="nav-icon fas fa-newspaper"></i>
              <p>
                Berita
              </p>
            </a>
            
          </li>
          <li class="nav-item" id="lelang">
            <a href="lelang" class="nav-link">
              <i class="nav-icon fas fa-file-signature"></i>
              <p>
                Lelang
              </p>
            </a>
            
          </li>
          <li class="nav-item" id="statuskeuangan">
            <a href="statuskeuangan" class="nav-link">
              <i class="nav-icon fas fa-search-dollar"></i>
              <p>
                Status Keuangan
              </p>
            </a>
            
          </li>
          <li class="nav-item" id="galeri">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-photo-video"></i>
              <p>
                Galeri
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" id="foto">
                <a href="foto" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Foto</p>
                </a>
              </li>
              <li class="nav-item" id="video">
                <a href="video" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Video</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" id="jadwal" >
            <a href="jadwal" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Jadwal
              </p>
            </a>
          </li>
          <li class="nav-item" id="laporan" >
            <a href="laporan" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                Laporan
              </p>
            </a>
          </li>
          <li class="nav-item" id="peta" >
            <a href="peta" class="nav-link">
              <i class="nav-icon fas fa-map"></i>
              <p>
                Peta TPST
              </p>
            </a>
          </li>
          <li class="nav-item" id="pengaduan" >
            <a href="pengaduan" class="nav-link">
              <i class="nav-icon fas fa-comments"></i>
              <p>
                Pengaduan
              </p>
            </a>
          </li>
          {% if role == 10 %}
          <li class="nav-item" id="users" >
            <a href="users" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Users
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          {% endif %}
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>