{% extends "admin/header.html" %} {% block content %}
<style>
  .custom-file-label::after {
    width: 100%;
  }
  .small-box > .inner {
    padding: 5px!important;
  }
</style>
<section class="content-header">
  <div class="container-fluid">
      <h1><center><b>Rekap Status Lelang TA. <span name="title-tahun"></span></b></center></h1>
  <br/>
  </div>
</section>


<section class="content">
  <div class="container-fluid">
        <div class="row">

          <div class="col-lg-3 col-3">
            <div class="small-box bg-info text-center">
              <div class="inner">
                <p><b>Jumlah Paket</b></p>
                <h4 id="tot-paket">0</h4>
              </div>
              <div class="inner">
                <p><b>Pagu Paket</b></p>
                <h4 id="tot-pagupaket">0</h4>
              </div>
              <div class="inner">
                <p><b>HPS Paket</b></p>
                <h4 id="tot-hpspaket">0</h4>
              </div>
              <a href="#" class="small-box-footer"></a>
            </div>
          </div>

          <div class="col-lg-3 col-3">
            <div class="small-box bg-primary text-center">
              <div class="inner">
                <p><b>Jumlah Paket Sudah Kontrak</b></p>
                <h4 id="tot-paketsudahkontrak">0</h4>
              </div>
              <div class="inner">
                <p><b>Pagu Paket Sudah Kontrak</b></p>
                <h4 id="tot-pagupaketsudahkontrak">0</h4>
              </div>
              <div class="inner">
                <p><b>HPS Paket Sudah Kontrak</b></p>
                <h4 id="tot-hpspaketsudahkontrak">0</h4>
              </div>
              <a href="#" class="small-box-footer"></a>
            </div>
          </div>

          <div class="col-lg-3 col-3">
            <div class="small-box bg-success text-center">
              <div class="inner">
                <p><b>Jumlah Paket Sudah Tayang</b></p>
                <h4 id="tot-paketsudah">0</h4>
              </div>
              <div class="inner">
                <p><b>Pagu Paket Sudah Tayang</b></p>
                <h4 id="tot-pagupaketsudah">0</h4>
              </div>
              <div class="inner">
                <p><b>HPS Paket Sudah Tayang</b></p>
                <h4 id="tot-hpspaketsudah">0</h4>
              </div>
              <a href="#" class="small-box-footer"></a>
            </div>
          </div>

          <div class="col-lg-3 col-3">
            <div class="small-box bg-warning text-center">
              <div class="inner">
                <p><b>Jumlah Paket Belum Tayang</b></p>
                <h4 id="tot-paketbelum">0</h4>
              </div>
              <div class="inner">
                <p><b>Pagu Paket Belum Tayang</b></p>
                <h4 id="tot-pagupaketbelum">0</h4>
              </div>
              <div class="inner">
                <p><b>HPS Paket Belum Tayang</b></p>
                <h4 id="tot-hpspaketbelum">0</h4>
              </div>
              <a href="#" class="small-box-footer"></a>
            </div>
          </div>
        </div>
  </div>
</section>

<section class="content-header">
  <div class="container-fluid">
      <h1><center><b>Grafik  Metode Lelang TA. <span name="title-tahun"></span></b></center></h1>
  <br/>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div id="chart"></div>
  </div>
</section>


{% endblock %}
{% block js %}
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}
