<header class="fixed stick">
  <div class="topbar">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="language-select" hidden>
                      <span><img src="assets/img/flag-id.png" alt="">ID <i class="ion-ios-arrow-down"></i> </span>
                      <ul>
                          <li><a href="#" title="" data-ripple="">EN</a></li>
                      </ul>
                  </div>
                  <ul class="useful-links">
                      <!-- <li><a href="index-onepage-light.html#" title="">my account</a></li>
                      <li><a href="index-onepage-light.html#" title="">Our Story</a></li>
                      <li><a href="index-onepage-light.html#" title="">what we do</a></li> -->
                  </ul>
                  <a class="be-Volunteer-btn volenter-btn" id="login-monitoring" href="" title="#" data-ripple="">Login Monitoring</a>
              </div>
          </div>
      </div>
  </div><!-- topbar -->
  <div class="container">
      <div class="row">
          <div class="col-sm-2">
              <div class="logo">
                  <h1><a href="/"><img src="assets/img/logo/ISWMP-Black-e1625063553563.png" alt=""></a></h1>
              </div>
          </div>
          <div class="col-sm-10">
              <nav>
                  <div class="main-menu">
                      <ul>
                          <li><a href="/" title="" id="home">Beranda</a></li>
                          <li><a href="about" title="">Tentang ISWMP</a>
                            <ul class="">
                              <li><a href="latar" title="" data-ripple="">Latar Belakang</a></li>
                              <li><a href="tujuan" title="" data-ripple="">Tujuan dan Sasaran</a></li>
                              <!-- <li><a href="strategi" title="" data-ripple="">Strategi Pelaksanaan</a></li>
                              <li><a href="keluaran" title="" data-ripple="">Keluaran dan Dampak</a></li>
                              <li><a href="owp" title="" data-ripple="">OWP</a></li> -->
                              <li><a href="struktur" title="" data-ripple="">Struktur Proyek</a></li>
                              <li><a href="indikator" title="" data-ripple="">Indikator Proyek</a></li>
                              <li><a href="implementasi" title="" data-ripple="">Implementasi Proyek</a></li>
                            </ul>
                          </li>
                          <li><a href="#" title="">Progres ISWMP</a>
                            <ul class="">
                              <li hidden><a href="#" title="" data-ripple="">Progres Keuangan</a>
                                <ul class="">
                                  <li><a href="keuangan?param=bulanan" title="" data-ripple="">Progres Keuangan Bulanan</a></li>
                                  <li><a href="keuangan?param=triwulan" title="" data-ripple="">Progres Keuangan Triwulan</a></li>
                                </ul>
                              </li>
                              <li><a href="#" title="" data-ripple="">Progres AWP</a>
                                <ul class="">
                                  <li><a href="progres?param=2021" title="" data-ripple="">Progres AWP 2021</a></li>
                                  <li><a href="progres?param=2022" title="" data-ripple="">Progres AWP 2022</a></li>
                                </ul>
                              </li>
                              <li class="menu-item-has-children"><a href="monitoring?param=citarum" title="" data-ripple="">DAS Citarum</a></li>
                              <li class="menu-item-has-children"><a href="monitoring?param=bali" title="" data-ripple="">Progress Denpasar</a></li>
                              <li class="menu-item-has-children"><a href="monitoring?param=rc" title="" data-ripple="">Monitoring RC</a></li>
                              <li class="menu-item-has-children"><a href="quick" title="" data-ripple="">Quick Status</a></li>
                            </ul>
                          </li>
                          <li><a href="#" title="">Peta</a>
                            <ul class="">
                              <li><a href="peta?param=citarum" title="" data-ripple="">Peta DAS CItarum</a></li>
                              <li><a href="peta?param=denpasar" title="" data-ripple="">Peta Kota Denpasar</a></li>
                            </ul>
                          </li>
                          <li><a href="#!" title="">Publikasi</a>
                            <ul class="">
                              <li><a href="jadwal" title="" data-ripple="">Agenda Kegiatan</a></li>
                              <li><a href="news" title="" data-ripple="">Berita</a></li>
                              <li><a href="report" title="" data-ripple="">Laporan</a></li>
                              <li><a href="pedoman" title="" data-ripple="">Panduan/ Pedoman</a></li>
                            </ul>
                          </li>
                          <li><a href="#" title="">Galeri</a>
                            <ul class="">
                              <li><a href="photos" title="" data-ripple="">Foto</a></li>
                              <li><a href="videos" title="" data-ripple="">Video</a></li>
                            </ul>
                          </li>
                          <!-- <li><a href="/embedlaporan" title="" id="laporan">Laporan</a></li> -->
                          <li><a href="#" title="">Lapor</a>
                            <ul class="">
                              <li><a target="_blank" href="https://www.lapor.go.id/" title="" data-ripple="">Lapor</a></li>
                              <li><a href="pengaduan" title="" data-ripple="">Form Pengaduan</a></li>
                            </ul>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div><!-- navbar and logo -->
</header><!-- header 1 -->