<div class="responsive-header">
    <div class="res-logo-area">
        <div class="col-sm-3 col-xs-4">
            <div class="language-select">
                <span><img src="assets/img/flag-id.png" alt="">ID <i class="ion-ios-arrow-down"></i> </span>
                <ul>
                    <li><a href="#" title="" data-ripple="">EN</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-xs-4">
            <a href="index-onepage-light.html#" title=""><img src="assets/img/logo2.png" alt=""></a>
        </div>
        <div class="col-sm-3 col-xs-4">
            <div id="nav-icon3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
        </div>
    </div>
    <div class="responsive-menu">
        <a href="index-onepage-light.html#" title=""><img src="assets/img/logo2.png" alt=""></a>
        <ul>
            <li><a href="/" title="" id="home">Beranda</a></li>
            
            <li class="menu-item-has-children"><a href="about" title="">Tentang ISWMP</a><i class="ion-chevron-down"></i>
              <ul class="submenu">
                <li><a href="latar" title="" data-ripple="">Latar Belakang</a></li>
                <li><a href="tujuan" title="" data-ripple="">Tujuan dan Sasaran</a></li>
                <!-- <li><a href="strategi" title="" data-ripple="">Strategi Pelaksanaan</a></li>
                <li><a href="keluaran" title="" data-ripple="">Keluaran dan Dampak</a></li>
                <li><a href="owp" title="" data-ripple="">OWP</a></li> -->
                <li><a href="struktur" title="" data-ripple="">Struktur Proyek</a></li>
                <li><a href="indikator" title="" data-ripple="">Indikator Proyek</a></li>
                <li><a href="implementasi" title="" data-ripple="">Implementasi Proyek</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#" title="">Progres ISWMP</a><i class="ion-chevron-down"></i>
              <ul class="submenu">
                <li hidden class="menu-item-has-children"><a href="#" title="" data-ripple="">Progres Keuangan</a><i class="ion-chevron-down"></i>
                  <ul class="submenu">
                    <li><a href="keuangan?param=bulanan" title="" data-ripple="">Progres Keuangan Bulanan</a></li>
                    <li><a href="keuangan?param=triwulan" title="" data-ripple="">Progres Keuangan Triwulan</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#" title="" data-ripple="">Progres AWP</a><i class="ion-chevron-down"></i>
                  <ul class="submenu">
                    <li><a href="progres?param=2021" title="" data-ripple="">Progres AWP 2021</a></li>
                    <li><a href="progres?param=2022" title="" data-ripple="">Progres AWP 2022</a></li>
                  </ul>
                </li>
                <li><a href="monitoring?param=citarum" title="" data-ripple="">DAS Citarum</a></li>
                <li><a href="monitoring?param=bali" title="" data-ripple="">Progress Denpasar</a></li>
                <li><a href="monitoring?param=rc" title="" data-ripple="">Monitoring RC</a></li>
                <li><a href="quick" title="" data-ripple="">Quick Status</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#" title="">Peta</a><i class="ion-chevron-down"></i>
              <ul class="submenu">
                <li><a href="peta?param=citarum" title="" data-ripple="">Peta DAS CItarum</a></li>
                <li><a href="peta?param=denpasar" title="" data-ripple="">Peta Kota Denpasar</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#" title="">Publikasi</a><i class="ion-chevron-down"></i>
              <ul class="submenu">
                <li><a href="jadwal" title="" data-ripple="">Agenda Kegiatan</a></li>
                <li><a href="news" title="" data-ripple="">Berita</a></li>
                <li><a href="report" title="" data-ripple="">Laporan</a></li>
                <li><a href="pedoman" title="" data-ripple="">Panduan/ Pedoman</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#" title="">Galeri</a><i class="ion-chevron-down"></i>
              <ul class="submenu">
                <li><a href="photos" title="" data-ripple="">Foto</a></li>
                <li><a href="videos" title="" data-ripple="">Video</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#" title="">Lapor</a><i class="ion-chevron-down"></i>
              <ul class="submenu">
                <li><a target="_blank" href="https://www.lapor.go.id/" title="" data-ripple="">Lapor</a></li>
                <li><a href="pengaduan" title="" data-ripple="">Form Pengaduan</a></li>
              </ul>
            </li>
        </ul>
        <!-- <ul class="little-info">
            <li><i class="ion-ios-telephone"></i><span>+971 8753563</span></li>
            <li><i class="ion-android-mail"></i><span><a href="http://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="da96b3bcbfbbb3be9abdb7bbb3b6f4b9b5b7">[email&#160;protected]</a></span></li>
        </ul> -->
    </div>
    <a href="index-onepage-light.html#" title="" class="res-search"><i class="ion ion-search"></i></a>
    <form class="search-insite" method="post">
        <i class="ion ion-close"></i>
        <input type="text" placeholder="search here">
        <button type="submit"></button>
    </form>
    <ul class="socials">
        <li><a href="index-onepage-light.html#" title=""><i class="ion-social-facebook"></i></a></li>
        <li><a href="index-onepage-light.html#" title=""><i class="ion-social-twitter"></i></a></li>
        <li><a href="index-onepage-light.html#" title=""><i class="ion-social-googleplus"></i></a></li>
    </ul>
</div><!-- responsive header -->