{% extends "frontend/layout.html" %} {% block content %}
<style>
    #data-peta, #data-peta-2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    #data-peta tr:nth-child(even){
        background-color: #f2f2f2;
    }

    #data-peta-2 tr:nth-child(even){
        background-color: #f2f2f2;
    }

    #data-peta tr:hover {
        background-color: #ddd;
    }

    #data-peta-2 tr:hover {
        background-color: #ddd;
    }

    #data-peta th {
        text-align: left;
        background-color: #1C6295;
        color: white;
    }

    #data-peta-2 th {
        text-align: left;
        background-color: #1C6295;
        color: white;
    }

    .tabs-nav {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .tabs-nav li:first-child a {
        border-right: 0;
        -moz-border-radius-topleft: 6px;
        -webkit-border-top-left-radius: 6px;
        border-top-left-radius: 6px;
    }
    .tabs-nav .tab-active a {
        background: hsl(120, 11%, 96%);
        border-bottom-color: hsla(0, 0%, 0%, 0);
        color: hsl(205.3, 68.4%, 34.7%);
        cursor: default;
    }
    .tabs-nav a {
        border: 1px solid hsl(210, 6%, 79%);
        color: hsl(215, 6%, 57%);
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: 40px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
        width: 140px;
    }
    .tabs-nav li {
        float: left;
    }
    .tabs-stage {
        border: 1px solid hsl(210, 6%, 79%);
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        -ms-border-radius: 0 0 6px 6px;
        -o-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        border-top: 0;
        clear: both;
        margin-bottom: 20px;
        position: relative;
        top: -1px;
        width: 100%;
    }
    .tabs-stage p {
        margin: 0;
        padding: 20px;
        color: hsl(0, 0%, 33%);
    }
</style>
<section>
  <div class="gap nogap">
      <div id="layerslider-container-fw">
          <div id="layerslider" style="width: 100%; height: 700px; margin: 0 auto; ">		

                <div class="ls-slide" data-ls="transition2d:40; timeshift:-2000;">	
                    <img src="assets/img/slider/slider_1_edited.png" class="ls-bg" alt="Slide background"/>
                    <div class="ls-l slide-subtitle" 
                        style="
                        top:200px;
                        left:20px;
                        font:bold 40px 'arimo'; 
                        color:#fff; 
                        letter-spacing:1px;
                        " data-ls="offsetxin:-50;durationin:2000;delayin:500;offsetxout:-50;durationout:1000;"></div>

                    <div class="ls-l slide-title layer-text" 
                        style="
                        top:250px;
                        left:18px;
                        font-size:70px;
                        font-weight:bold; 
                        font-family:arimo;
                        letter-spacing:1px;
                        " data-ls="offsetxin:0;durationin:2500;delayin:900;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;"></div>

                    <div class="ls-l blackbox" 
                        style="
                        top:350px;
                        left:20px;
                        font-size:13px;
                        font-family:arimo;
                        color:#fff;
                        letter-spacing:1px;
                        list-style:circle;
                        " data-ls="offsetxin:50;delayin:1200;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;"></div>

                    <div class="ls-l blackbox" 
                        style="
                        top:375px;
                        left:20px;
                        font-size:13px;
                        font-family:arimo;
                        color:#fff;
                        letter-spacing:1px;
                        " data-ls="offsetxin:50;delayin:1200;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;"></div>

                    <div class="ls-l blackbox" 
                        style="
                        top:400px;
                        left:20px;
                        font-size:13px;
                        font-family:arimo;
                        color:#fff;
                        letter-spacing:1px;
                        " data-ls="offsetxin:50;delayin:1200;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;"></div>

                    <div class="ls-l slide-subtitle" 
                        style="
                        top:350px;
                        left:20px;

                        " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                        <a href="latar" data-ripple="" class="ls-l sl-2 layer-button" 
                            style="
                            top:465px;
                            left:18px;
                            font:bold 11px 'open sans';
                            color:#fff;
                            letter-spacing:1px;
                            padding:18px 28px;
                            text-transform:uppercase;
                            display:inline-block;
                            " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Selengkapnya</a>
                    </div>                                
                                

                </div><!-- Slide1 -->

                <div hidden class="ls-slide" data-ls="transition2d:40; timeshift:-2000;">	
                    <img src="assets/img/slider/slider_2_edited.png" class="ls-bg" alt="Slide background" />
                    <div class="ls-l sl-2 slide-subtitle" 
                        style="
                        top:200px;
                        left:8px;
                        color:#fff;
                        font:bold 18px 'arimo';
                        letter-spacing:2.5px;
                        text-transform:uppercase;
                        " data-ls="offsetxin:-50;durationin:2000;delayin:500;offsetxout:-50;durationout:1000;">
                    </div>

                    <div class="ls-l sl-2 slide-title" 
                        style="
                        top:210px;
                        left:0;
                        font:bold 140px 'arimo';
                        letter-spacing:3px;
                        text-transform:uppercase;
                        text-shadow:1px 1px 2px #000;
                        color:#fff;
                        " data-ls="offsetxin:0;durationin:2500;delayin:900;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;">
                    </div>

                    <span class="ls-l sl-2 slide-desc" 
                            style="
                            top:370px;
                            left:8px;
                            font:13px 'arimo';
                            color:#fff;
                            letter-spacing:1px;
                            width:40%;
                            line-height:30px;
                            " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                    </span>

                    <a href="news" data-ripple="" class="ls-l sl-2 layer-button" 
                        style="
                        top:465px;
                        left:10px;
                        font:bold 11px 'open sans';
                        color:#fff;
                        letter-spacing:1px;
                        padding:18px 28px;
                        text-transform:uppercase;
                        display:inline-block;
                        " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Selengkapnya</a>

                </div><!-- Slide2 -->

                <div hidden class="ls-slide" data-ls="transition2d:40; timeshift:-2000;">	
                    <img src="assets/img/slider/slider_3_edited.png" class="ls-bg" alt="Slide background" />
                    <div class="ls-l sl-2 slide-subtitle" 
                        style="
                        top:200px;
                        left:8px;
                        color:#fff;
                        font:bold 18px 'arimo';
                        letter-spacing:2.5px;
                        text-transform:uppercase;
                        " data-ls="offsetxin:-50;durationin:2000;delayin:500;offsetxout:-50;durationout:1000;">
                    </div>

                    <div class="ls-l sl-2 slide-title" 
                        style="
                        top:210px;
                        left:0;
                        font:bold 140px 'arimo';
                        letter-spacing:3px;
                        text-transform:uppercase;
                        text-shadow:1px 1px 2px #000;
                        color:#fff;
                        " data-ls="offsetxin:0;durationin:2500;delayin:900;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;">
                    </div>

                    <span class="ls-l sl-2 slide-desc" 
                            style="
                            top:370px;
                            left:8px;
                            font:13px 'arimo';
                            color:#fff;
                            letter-spacing:1px;
                            width:40%;
                            line-height:30px;
                            " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                    </span>

                    <a href="jadwal" data-ripple="" class="ls-l sl-2 layer-button" 
                        style="
                        top:465px;
                        left:10px;
                        font:bold 11px 'open sans';
                        color:#fff;
                        letter-spacing:1px;
                        padding:18px 28px;
                        text-transform:uppercase;
                        display:inline-block;
                        " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Selengkapnya</a>

                </div><!-- Slide3 -->

          </div>
      </div><!-- Layer Slider -->	
  </div>
</section><!-- Slider Section -->

<section>
    <div class="gap whitish low-opacity">
        <div class="parallax" style="background:url(assets/img/resourcesabout-background.jpg) no-repeat;" data-velocity="-.1"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-2">
                        <!-- <span>Latest causes</span> -->
                        <h4>Tentang <span>ISWMP</span></h4>
                        <img src="assets/img/icon-1.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="paralex-section">
                        <span>ISWMP (Improvement of Solid Waste Management to Support Regional Area and Metropolitan Cities)</span>
                        <!-- <h2>We Need Your Help. Please</h2> -->
                        <p>
                             merupakan program berskala nasional yang bertujuan untuk meningkatkan kinerja pengelolaan sampah yang beradaptasi dengan berbagai kondisi perkotaan yang berbeda di Indonesia. ISWMP ini akan dikembangkan di beberapa kabupaten/kota terpilih di Indonesia. Selaras dengan Peraturan Presiden No. 15 Tahun 2018 dimana sebagian besar dana investasi akan dialokasikan pada beberapa kota/kabupaten yang berada dalam DAS Citarum.
  
                        </p>
                        <a href="about" title="" class="button-large fromdown" data-ripple="">Selengkapnya</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section><!-- parallax section -->

<section id="cause">
  <div class="gap">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="heading-2">
                      <h4><span>Berita</span> dan <span>Agenda</span></h4>
                      <span>“Di bawah ini adalah kumpulan artikel kegiatan dan agenda terkait program ISWMP diperbaharui secara berkala”</span>
                      <img src="assets/img/icon-1.png" alt="">
                  </div>
              </div>
              <div class="our-cause-caro" id="berita-beranda">
                <div class="blog-listing fadein" name="list-0">
                    <div class="cause-avatar">
                        <a name="list-0-href" href="single-blog.html" title=""><img name="list-0-src" src="assets/img/news/1-2-e1627449894600-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a name="list-0-date" href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a name="list-0-username" href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a name="list-0-title" href="single-blog.html" title="">Kolaborasi Membangun Ekosistem Pengolahan Sampah</a></h2>
                        <!-- <p name="list-0-intro">
                            Dalam rangka membangun Ekosistem Pengolahan Sampah yang mampu mempersiapkan keberlanjutan infrastruktur pengolahan sampah TPST dengan teknologi RDF, NPMC...
                        </p> -->
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a name="list-0-continue" href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein" name="list-1">
                    <div class="cause-avatar">
                        <a name="list-1-href" href="single-blog.html" title=""><img name="list-1-src" src="assets/img/news/1-2-e1627449894600-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a name="list-1-date" href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a name="list-1-username" href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a name="list-1-title" href="single-blog.html" title="">Kolaborasi Membangun Ekosistem Pengolahan Sampah</a></h2>
                        <!-- <p name="list-1-intro">
                            Dalam rangka membangun Ekosistem Pengolahan Sampah yang mampu mempersiapkan keberlanjutan infrastruktur pengolahan sampah TPST dengan teknologi RDF, NPMC...
                        </p> -->
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a name="list-1-continue" href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein" name="list-2">
                    <div class="cause-avatar">
                        <a name="list-2-href" href="single-blog.html" title=""><img name="list-2-src" src="assets/img/news/1-2-e1627449894600-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a name="list-2-date" href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a name="list-2-username" href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a name="list-2-title" href="single-blog.html" title="">Kolaborasi Membangun Ekosistem Pengolahan Sampah</a></h2>
                        <!-- <p name="list-2-intro">
                            Dalam rangka membangun Ekosistem Pengolahan Sampah yang mampu mempersiapkan keberlanjutan infrastruktur pengolahan sampah TPST dengan teknologi RDF, NPMC...
                        </p> -->
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a name="list-2-continue" href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein" name="list-3">
                    <div class="cause-avatar">
                        <a name="list-3-href" href="single-blog.html" title=""><img name="list-3-src" src="assets/img/news/1-2-e1627449894600-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a name="list-3-date" href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a name="list-3-username" href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a name="list-3-title" href="single-blog.html" title="">Kolaborasi Membangun Ekosistem Pengolahan Sampah</a></h2>
                        <!-- <p name="list-3-intro">
                            Dalam rangka membangun Ekosistem Pengolahan Sampah yang mampu mempersiapkan keberlanjutan infrastruktur pengolahan sampah TPST dengan teknologi RDF, NPMC...
                        </p> -->
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a name="list-3-continue" href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein" name="list-4">
                    <div class="cause-avatar">
                        <a name="list-4-href" href="single-blog.html" title=""><img name="list-4-src" src="assets/img/news/1-2-e1627449894600-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a name="list-4-date" href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a name="list-4-username" href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a name="list-4-title" href="single-blog.html" title="">Kolaborasi Membangun Ekosistem Pengolahan Sampah</a></h2>
                        <!-- <p name="list-4-intro">
                            Dalam rangka membangun Ekosistem Pengolahan Sampah yang mampu mempersiapkan keberlanjutan infrastruktur pengolahan sampah TPST dengan teknologi RDF, NPMC...
                        </p> -->
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a name="list-4-continue" href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <!-- <div class="blog-listing fadein" name="list-2">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/WhatsApp-Image-2021-06-19-at-17.20.21-1170x500.jpeg" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Sosialisasi Awal ISWMP pada 8 Kota/ Kabupaten</a></h2>
                        <p>
                            Pelaksanaan kunjungan merupakan tahapan sosialisasi ISWMP pada masing-masing pemerintah daerah kabupaten/kota sasaran ISWMP dilaksanakan oleh Tim NPMC dari...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein" name="list-3">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/WhatsApp-Image-2021-06-19-at-17.19.56-1170x500.jpeg" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Kunjungan ISWMP: Biomass Operating System of Saguling (BOSS), PT Indonesia Power Saguling Pomu</a></h2>
                        <p>
                            Stakeholder ISWMP di antaranya Central Project Management Unit (CPMU) Kementerian PUPR, Central Project Implementation (CPIU) Bappenas, CPIU PUPR,...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein" name="list-4">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/berita051021-1-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Rapat Koordinasi Tindak Lanjut Implementasi Satu Data Bidang Persampahan</a></h2>
                        <p>
                            Selasa, 27 September 2021, NPMC ISWMP melaksanakan kegiatan Rapat Koordinasi Tindak Lanjut Implementasi Satu Data Bidang Persampahan yang...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein" name="list-5">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/Workshop-Penanganan-Kawasan-DAS-Citarum-1170x500.jpg" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Workshop Penanganan Kawasan DAS Citarum</a></h2>
                        <p>
                            Pada hari Rabu hingga Kamis, 8-9 September 2021, Direktorat Sanitasi Kementerian PUPR mengadakan Workshop Penanganan Kawasan DAS Citarum...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div> -->

              </div>
          </div>
      </div>
  </div>
</section><!-- our causes carousel -->

<section id="">
    <div class="gap">
        <div class="container">
            <div class="row">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</section>
<section id="">
    <div class="gap">
        <div class="container">
            <ul class="tabs-nav">
                <li class="tab-active"><a id="tab-jabar" href="#" rel="nofollow" kdoe="1">Jawa Barat</a>
                </li>
                <li class=""><a id="tab-bali" href="#" rel="nofollow" kdoe="2">Bali</a>
                </li>
            </ul>
            <div class="tabs-stage">
                <div id="jabar" style="display: block;">
                    <div class="footer-map">
                        <img src="assets/img/iswmp-jabar.jpeg" alt="">
                        <div class="pointer" style="left:49%; top:11.5%;" onclick="viewdata(1,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kabupaten Karawang</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:44.4%; top:21.5%;" onclick="viewdata(2,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kabupaten Bekasi</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:54.8%; top:44%;" onclick="viewdata(3,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kabupaten Purwakarta</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:40.5%; top:55.3%;" onclick="viewdata(4,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kabupaten Cianjur</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:61%; top:58.3%;" onclick="viewdata(5,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kabupaten Sumedang</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:64.7%; top:61%;" onclick="viewdata(6,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kota Bandung</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:58.9%; top:64%;" onclick="viewdata(7,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kota Cimahi</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:47.6%; top:66.6%;" onclick="viewdata(8,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kabupaten Bandung Barat</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:66.7%; top:70.9%;" onclick="viewdata(9,1)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kabupaten Bandung</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="peta-detail">
                            <table id="data-peta" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            No
                                        </th>
                                        <th>
                                            Kabupaten/Kota
                                        </th>
                                        <th>
                                            LatLong
                                        </th>
                                        <th>
                                            Nama
                                        </th>
                                        <th>
                                            Alamat
                                        </th>
                                        <th>
                                            Kapasitas
                                        </th>
                                        <th>
                                            Luas
                                        </th>
                                        <th>
                                            Progres
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                    </div>
                </div>
                <div id="bali" style="display: none;">
                    <div class="footer-map">
                        <img src="assets/img/iswmp-bali.jpeg" alt="" style="width: 100%;">
                        <div class="pointer" style="left:62.6%; top:70.9%;" onclick="viewdata(1,2)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kota Denpasar</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:57.5%; top:70%;" onclick="viewdata(2,2)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kota Denpasar</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pointer" style="left:58%; top:80%;" onclick="viewdata(3,2)"> <span></span>
                            <div class="address-tooltip">
                                <ul>
                                    <li><i class="ion-ios-location"></i>Kota Denpasar</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="peta-detail-2">
                            <table id="data-peta-2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            No
                                        </th>
                                        <th>
                                            Kabupaten/Kota
                                        </th>
                                        <th>
                                            LatLong
                                        </th>
                                        <th>
                                            Nama
                                        </th>
                                        <th>
                                            Alamat
                                        </th>
                                        <th>
                                            Kapasitas
                                        </th>
                                        <th>
                                            Luas
                                        </th>
                                        <th>
                                            Progres
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 10%;">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <h3 id="event">Some text in the modal.</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
{% endblock %}
