<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Improvment of Solid Waste Management to Support Regional and Metropolitan Cities Program" />
  <meta name="keywords" content="ISWMP, iswmp" />
  
  <meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
  <meta http-equiv="Pragma" content="no-cache">
  
  <title>NPMC-ISWMP – The Improvement of Solid Waste Management to Support Regional and Metropolitan Cities Program</title>

  <!-- Favicons -->
  <!-- <link href="{{base_url}}assets/img/logo/favicon.ico" rel="icon"> -->

  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/ionicons.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/animate.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/owl.carousel.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/nice-select.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/nprogress.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/ripple.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/silk-accordion.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/style.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/elements.css">

  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/color.css" title="default">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/green.css" title="color1">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/red.css" title="color2">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/yellow.css" title="color3">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/light-pink.css" title="color4">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/dark-green.css" title="color5">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/blue.css" title="color6">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/gray.css" title="color7">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/pink.css" title="color8">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/responsive.css">

  <link rel="stylesheet" href="{{base_url}}assets/frontend/layerslider/css/layerslider.css" type="text/css">

  <link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.css"/>
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.orange-coral.min.css"/>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

<style>
  .calendar-year p {
      color: #fff !important;
  }
  
@media only screen and (min-width: 300px) {
    .container.logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}
@media only screen and (min-width: 500px) {
    .container.logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .container.logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}
</style>
</head>

  <body>

    <div class="site-layout">
    {% include "frontend/header.html" %}
    {% include "frontend/header-responsive.html" %}
    {% block content %} {% endblock %}
    </div>

    {% include "frontend/footer.html" %}

  <script data-cfasync="false" src="{{base_url}}assets/frontend/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.js"></script>
  <script src="{{base_url}}assets/frontend/js/bootstrap.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/owl.carousel.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.scrolly.js"></script>
  <script src="{{base_url}}assets/frontend/js/nice-select.js"></script>
  <script src="{{base_url}}assets/frontend/js/nprogress.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.scrolly.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.counterup.min.js"></script><!-- for funfacts -->
  <script src="{{base_url}}assets/frontend/js/scrolltopcontrol.js"></script>
  <script src="{{base_url}}assets/frontend/js/onscreen.js"></script>
  <script src="{{base_url}}assets/frontend/js/ripple.js"></script>
  <script src="{{base_url}}assets/frontend/js/styleswitcher.js"></script>
  <script src="{{base_url}}assets/frontend/js/perfect-scrollbar.jquery.js"></script>
	<script src="{{base_url}}assets/frontend/js/perfect-scrollbar.js"></script>	
  <script src="{{base_url}}assets/frontend/js/smoothscroll.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.stickit.js"></script>	
  <script src="{{base_url}}assets/frontend/js/jPages.js"></script>
  <script src="{{base_url}}assets/frontend/js/jPages.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/script.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.counterup-essential.js"></script><!-- for funfacts counter -->

  <script src="{{base_url}}assets/frontend/layerslider/js/greensock.js" type="text/javascript"></script>
  <script src="{{base_url}}assets/frontend/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
  <script src="{{base_url}}assets/frontend/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
  <script src="{{base_url}}assets/frontend/js/layerslider-init.js"></script>
  <script src="{{base_url}}assets/frontend/js/html5lightbox.js"></script>

  <script src="{{base_url}}assets/frontend/evo-calendar/js/evo-calendar.js"></script>
  <script src="{{base_url}}assets/frontend/evo-calendar/js/evo-calendar.min.js"></script>

  <script src="{{base_url}}assets/ltev3/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    {% block js %} {% endblock %}

    {% if script %}
     <script src = "{{script}}"></script>
    {% endif %}

    <script>
        $('#login-monitoring').on('click',function(){
            window.open('http://plpbm.pu.go.id/tfl/production/');
        })
    </script>
</body>
</html>
