{% extends "frontend/layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.css"/>
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.orange-coral.min.css"/>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">

<style>
    .crop {
        width: 200px;
        height: 100px;
        overflow: hidden;
    }

    .crop img {
        height: 200px;
    }
</style>

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="about-us.html#" title="">Beranda</a></li>
                            <li>Progres AWP</li>
                            <li>2022</li>
                        </ul>
                        <h2 class="page-title">Progres <span>AWP 2022</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->
<section>
    <div class="gap">
        <div class="">
            <div class="">
                <div class="col-sm-12">
                    <div class="product-filter">
                        <div class="row">
                            <div class="masonry merged">
                                <div class="tab-1 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/1.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-2 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/2.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/2.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-3 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/3.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-4 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/4.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/4.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="tab-3 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/5.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/5.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-4 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/6.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/6.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-3 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/7.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/7.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-4 col-sm-3">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/awp/2022/8.png" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/awp/2022/8.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
                
            <div class="row">
                <!-- <iframe src="https://monitoring.iswmp.id/data?param=1" width="900" height="700" allow="fullscreen"></iframe> -->
            </div>
        </div>
    </div>
</section><!-- volunteer info section -->

{% endblock %}