{% extends "admin/layout.html" %} {% block content %}
<style>
	.custom-file-label::after {
		width: 100%;
	}
</style>
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-8">
				<h1>
					<i class="nav-icon fa fa-clone"></i> Tahap Pasca Pelaksanaan Kegiatan
				</h1>
			</div>
			<div class="col-sm-4">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="#">Monitoring dan Evaluasi Keberfungsian Infrastruktur</a>
					</li>
					<li class="breadcrumb-item active">List data</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
	<!-- Default box -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card card-lightblue card-outline">
					<div class="card-header">
						<h1 class="card-title">
							Monitoring dan Evaluasi Keberfungsian Infrastruktur
						</h1>

						<div class="card-tools">
							<div class="input-group input-group-sm"></div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-sm-12">
								<div class="card card-lightblue card-outline card-outline-tabs">
									<div class="card-header p-0 border-bottom-0">
										<ul
											class="nav nav-tabs"
											id="custom-tabs-four-tab"
											role="tablist"
										>
											<li class="nav-item">
												<a
													class="nav-link active"
													id="custom-1"
													data-toggle="pill"
													href="#tab_1"
													role="tab"
													aria-controls="custom-tabs-four-home"
													aria-selected="true"
													>Relevansi</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-2"
													data-toggle="pill"
													href="#tab_2"
													role="tab"
													aria-controls="custom-tabs-four-profile"
													aria-selected="false"
													>Efisiensi</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-3"
													data-toggle="pill"
													href="#tab_3"
													role="tab"
													aria-controls="custom-tabs-four-messages"
													aria-selected="false"
													>Efektifitas</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-4"
													data-toggle="pill"
													href="#tab_4"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Dampak</a
												>
											</li>
										</ul>
									</div>
									<div class="card-body">
										<div class="tab-content" id="custom-tabs-four-tabContent">
											<div
												class="tab-pane fade show active"
												id="tab_1"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-home-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>1. Relevansi</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-1"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<div class="table-responsive">
													<table
														class="table table-bordered table-hover datatable"
														id="list_1"
													>
														<thead>
															<tr>
																<th>No</th>
																<th>TPST</th>
																<th>Kesesuaian Dokumen SSK Kabupaten/Kota</th>
																<th>
																	Kesesuaian dengan Rencana Induk (Masterplan/
																	Outline Plan) Kabupaten/Kota
																</th>
																<th></th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
											<div
												class="tab-pane fade"
												id="tab_2"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>2. Efisiensi</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-2"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_2"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Waktu penyelesaian pelaksanaan kegiatan</th>
															<th>Biaya Konstruksi</th>
															<th>Ruang Lingkup Kegiatan</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_3"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>3. Efektifitas</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-3"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_3"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Efektifitas Kegiatan</th>
															<th>Penerima Manfaat</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_4"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>4. Dampak</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-4"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<div class="table-responsive">
													<table
														class="table table-bordered table-hover datatable"
														id="list_4"
													>
														<thead>
															<tr>
																<th>No</th>
																<th>TPST</th>
																<th>Perlindungan kualitas lingkungan</th>
																<th>
																	Peningkatan kualitas sosial masyarakat sekitar
																	TPST
																</th>
																<th></th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>
									</div>
									<!-- /.card -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-1">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">1. Relevansi</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_1" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_1"
									name="relevansi-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Kesesuaian Dokumen SSK Kabupaten/Kota <code>*</code>:</label
								>
								<select
									id="ssk"
									name="relevansi-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Kegiatan sudah tercantum dalam SSK terupdate 5 tahun
										terakhir
									</option>
									<option value="2">
										Kegiatan sudah tercantum dalam SSK tapi belum dimutakhirkan
										dalam 5 tahun terakhir
									</option>
									<option value="3">Kegiatan tidak tercantum dalam SSK</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Kesesuaian dengan Rencana Induk (Masterplan/ Outline Plan)
									Kabupaten/Kota <code>*</code>:</label
								>
								<select
									id="masterplan"
									name="relevansi-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Kegiatan sudah tercantum dalam Masterplan atau PTMP
										terupdate 5 tahun terakhir
									</option>
									<option value="2">
										Kegiatan sudah tercantum dalam Masterplan atau PTMP tapi
										belum direview dalam 5 tahun terakhir
									</option>
									<option value="3">
										Belum ada dokumen Masterplan atau PTMP
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-1" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-2">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">2. Efisiensi</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_2" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_2"
									name="efisiensi-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Waktu penyelesaian pelaksanaan kegiatan<code>*</code>:</label
								>
								<select
									id="waktu"
									name="efisiensi-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										100% atau kurang dari rencana waktu pelaksanaan semula
									</option>
									<option value="2">
										Lebih dari 100%, tetapi kurang 150% dari rencana waktu
										pelaksanaan semula
									</option>
									<option value="3">
										Lebih 150% dari waktu rencana pelaksanaan semula
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Biaya Konstruksi<code>*</code>:</label>
								<select
									id="biaya"
									name="efisiensi-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										100% atau kurang dari rencana biaya semula
									</option>
									<option value="2">
										Lebih dari 100% dan kurang 110% dari rencana biaya semula
									</option>
									<option value="3">
										Lebih 110% dari rencana biaya semula
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Ruang Lingkup Kegiatan<code>*</code>:</label>
								<select
									id="ruanglingkup"
									name="efisiensi-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Seluruh ruang lingkup pekerjaan terpenuhi atau terbangun
									</option>
									<option value="2">
										Seluruh ruang lingkup pekerjaan terpenuhi tetapi ada
										perubahan (penambahan atau pengurangan pekerjaan)
									</option>
									<option value="3">
										Ada ruang lingkup yang tidak terpenuhi atau tidak terbangun
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-2" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-3">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">3. Efektifitas</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_3" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_3"
									name="efektifitas-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Efektifitas Kegiatan <code>*</code>:</label>
								<select
									id="efektifitas"
									name="efektifitas-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Bangunan digunakan dan bermanfaat sesuai perencanaan
									</option>
									<option value="2">
										Terdapat beberapa komponen bangunan yang belum
										digunakan/termanfaatkan sesuai perencanaan
									</option>
									<option value="3">
										Bangunan tidak atau belum termanfaatkan sesuai perencanaan
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Penerima Manfaat <code>*</code>:</label>
								<select
									id="manfaat"
									name="efektifitas-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Realisasi jiwa terlayani 75-100% terhadap target perencanaan
									</option>
									<option value="2">
										Realisasi jiwa terlayani 50-75% terhadap target perencanaan
									</option>
									<option value="3">
										Realisasi jiwa terlayani < 50% terhadap target perencanaan
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-3" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-4">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">4. Dampak</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_4" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_4"
									name="dampak-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Perlindungan kualitas lingkungan <code>*</code>:</label>
								<select
									id="perlindungan"
									name="dampak-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Hasil pemantauan kualitas lingkungan (air permukaan, dll)
										dibawah baku mutu
									</option>
									<option value="2">
										Hasil pemantauan kualitas lingkungan (air permukaan, dll)
										melebihi baku mutu
									</option>
									<option value="3">
										Tidak melakukan pemantauan kualitas lingkungan (air
										permukaan, dll)
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Peningkatan kualitas sosial masyarakat sekitar
									TPST<code>*</code>:</label
								>
								<select
									id="peningkatan"
									name="dampak-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Terdapat peningkatan pendapatan rata-rata masyarakat sekitar
										TPST dan penduduk yang bekerja
									</option>
									<option value="2">
										Tidak ada peningkatan pendapatan rata-rata masyarakat
										sekitar TPST
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-4" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</section>

<!-- /.content -->

{% endblock %} {% block js %}
<script>
	$(function () {
		bsCustomFileInput.init();
	});
</script>
{% endblock %}
